@import url('https://fonts.googleapis.com/css2?family=Satoshi:wght@400;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
@theme{
    --font-script: Great Vibes, cursive;
}


html {
  font-family: 'Satoshi', sans-serif;
  transition: background 0.5s ease;
}

@keyframes bgShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
body {
  @apply transition-colors duration-500 ease-in-out;
  background: radial-gradient(circle at top left, #fdf6e3, #e3f2fd);
}

[data-theme="dark"] body {
  background: radial-gradient(circle at top left, #0f1117, #1b1f23);
}