@import url('https://fonts.googleapis.com/css2?family=Satoshi:wght@400;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
@theme{
    --font-script: Great Vibes, cursive;
}


html {
  font-family: 'Satoshi', sans-serif;
  transition: background 0.5s ease;
}

@keyframes bgShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.page {
  @apply transition-colors duration-700 ease-in-out;
  background: linear-gradient(270deg, #fdf6e3, #e3f2fd, #cfe9fc);
  background-size: 600% 600%;
  animation: bgShift 12s ease infinite;
}

.dark .page {
  background: linear-gradient(270deg, #0f1117, #1c1f2a, #232832);
  background-size: 600% 600%;
  animation: bgShift 12s ease infinite;
}